// customize some Bootstrap variables
@import "custom";
@import "~bootstrap/scss/bootstrap";



body {
    background-color: #F8F8F8;
}
.single-region path{
    fill: $primary;
    stroke: $secondary;
    stroke-width: 1px;
    transition: fill .2s;
}
.single-region path:hover{
    fill: $secondary;
    transition: fill .2s;

}

.container{
    max-width: 1000px !important;
}