

$primary:       #11999E !default;
$secondary:     #55BBC0 !default;
$success:       #11999E !default;
$info:          #6582CB !default;
$warning:       #FFB41A !default;
$danger:        #FF201A !default;
$light:         white !default;
$dark:          #0C0C0C !default;
