{% extends 'base.html.twig' %}

{% block title %}Modifier votre annonce{% endblock %}

{% block body %}
    <h1>Modifier votre annonce</h1>

    {{ include('advert/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}
